div.comments {
  display: flex;
  margin-bottom: 10px;
}

div.comments:last-child {
  margin-bottom: 0;
}

div.comments img {
  min-height: 28px;
  min-width: 28px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

div.comments span {
  margin-left: 10px;
  background: #eeeeee;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 14px;
}
