header.header {
  background: #4a90e2;
  height: 64px;

  display: flex;
  align-items: center;
}

header.header > div {
  display: flex;
  justify-content: space-between;
}

header.header img {
  width: 121px;
  height: 24px;
}

header.header .profile {
  display: flex;
  align-items: center;

  color: #fff;
}

header.header .profile span {
  font-weight: bold;
  margin-right: 8px;
}
